body{
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;;
    height:680px;
    margin:auto;
    background-color:white;
    border-radius: 12px solid black;
    box-shadow:0px 0px 4px grey,
               0px 0px 8px grey,
               0px 0px 12px grey;
             
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width:300px;
    margin-left:20px;
}
form label{
    display:flex;
    margin-top:20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding:7px;
    border:none;
    border:1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="submit"]{
   width:320px;
   height:40px;
   margin-top:20px;
   border:none;
   box-shadow: 0px 4px 20px 0px #49c628a6;
   background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
   transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
   background-color: white;
   font-size: 18px;
}
input[type="NGO"]{
    width:320px;
    height:40px;
    margin-top:20px;
    border:none;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: white;
    font-size: 18px;
 }
 input[type="INS"]{
    width:320px;
    height:40px;
    margin-top:20px;
    border:none;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: white;
    font-size: 18px;
 }
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color:rgb(0, 34, 255);
}
.Submit a:first-child{
    background-color: #509f49 !important;
}
.Submit a:first-child:hover{
    background-color: #0d3909 !important;
}
